<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/templatestudio"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap genTemplate">

  <Identity
    Name="cdcfecba-b1bc-4894-ba00-7b690d69e9fb"
    Publisher="CN=ZhangZhongguo123"
    Version="1.16.3.0" />
    
  <mp:PhoneIdentity PhoneProductId="cdcfecba-b1bc-4894-ba00-7b690d69e9fb" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
    
  <Properties>
    <DisplayName>Random-Number Generator</DisplayName>
    <PublisherDisplayName>ZhangZhongguo123</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayName"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badgeAndTileText"/>
      </uap:VisualElements>
      <Extensions>
          <desktop:Extension Category="windows.toastNotificationActivation">
              <desktop:ToastNotificationActivation ToastActivatorCLSID="55fa0c91-7d4b-412c-be5e-98971fe01823" />
          </desktop:Extension>

          <com:Extension Category="windows.comServer">
              <com:ComServer>
                  <com:ExeServer Executable="Random-Number Generator.exe" Arguments="----AppNotificationActivated:" DisplayName="Toast activator">
                      <com:Class Id="55fa0c91-7d4b-412c-be5e-98971fe01823" DisplayName="Toast activator"/>
                  </com:ExeServer>
              </com:ComServer>
          </com:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
	<uap:Capability Name="documentsLibrary" />
  </Capabilities>

  <genTemplate:Metadata>
    <genTemplate:Item Name="generator" Value="Template Studio"/>
    <genTemplate:Item Name="wizardVersion" Version="v5.5" />
    <genTemplate:Item Name="projectType" Value="NavView" />
    <genTemplate:Item Name="framework" Value="MVVMToolkit" />
    <genTemplate:Item Name="platform" Value="WinUI" />
    <genTemplate:Item Name="appmodel" Value="Desktop" />
  </genTemplate:Metadata>
</Package>
